<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">

       <!-- Define Employee bean with singleton scope -->
       <bean id="employee" class="org.example.Employee" scope="singleton">
              <property name="name" value="John Doe"/>
              <property name="id" value="1001"/>
       </bean>

       <!-- Other bean definitions and configurations can be added here -->

</beans>
